--swiftversion 6.0
--exclude **/.build,DerivedData,build,.sfbin
--indent 4
--maxwidth 160
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--commas inline
--stripunusedargs closure-only
--self remove
--importgrouping alpha
--disable wrapMultilineStatementBraces,wrapIfStatementBodies,redundantReturn,preferForLoop,redundantType,hoistPatternLet,opaqueGenericParameters,wrapPropertyBodies,redundantProperty,preferKeyPath,blankLinesBetweenImports,unusedPrivateDeclarations,redundantPublic,redundantMemberwiseInit,docComments,fileHeader,redundantInternal,environmentEntry,noForceTryInTests,noForceUnwrapInTests,noGuardInTests,throwingTests,swiftTestingTestCaseNames,redundantThrows,redundantAsync,privateStateVariables,redundantEquatable,emptyExtensions,preferFinalClasses,redundantSendable,wrapFunctionBodies,singlePropertyPerLine
